*{
   box-sizing: border-box;
}
:root {
    --blue: #007bff;
    --indigo: #814ebf;
    --purple: #814ebf;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #814ebf;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
a{
    text-decoration: none;
    display: block;
    color: transparent;
}
a:hover{
    color: none;
}
html{
    font-family: sans-serif;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
button{
    display: block;
}
/*Header-----------------------------------*/
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    max-width: 1200px;
    margin: 0 auto;
}
.Header__logo{
    margin-right: 20px;
    display: flex;
    color: var(--dark);
}
.Logo__img{
    width: 64px;
    height: 64px;
    background-image: url("./img/main-logo.png");
    background-size: contain;

}
.Header__navigation{
    max-width: 700px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

}
.Header__navigation a{
    padding: 10px;
    color: var(--dark);
}
@media  (max-width:993px) {
    .Header__logo{
        flex-grow: 1;
    }
    
}
@media  (max-width:580px) {
    .Header__navigation{
        flex-wrap: wrap;
    }
    .Header{
        
        flex-wrap: wrap;
    }
}
/*BTN-----------------------------------*/
._btn{
    border:none;
    background-color: var(--light);
    height:65px
}
/*Offer-----------------------------------*/
.Offer{
    height: 740px;
  
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./img/rocketlaunchsingl.jpg");
    background-size: cover;

    color: var(--light);
  
}
.Offer__box{
    width: 1200px;
    margin: 0 auto;
}
.Contact{
    max-width: 765px;
    position: relative;
    font-size: 25px;


}
.Contact__title{
    font-size: 65px;
    margin: 0;
}
.Contact__offer{
    
}
.Contact__btn{
    margin-top: 48px;
    padding: 10px 60px;
}
@media  (max-width:1200px) {
    .Contact{
       left: 20px;
    
    
    }
    
}
@media  (max-width:770px) {
    .Contact{
       left: 20px;
    } 
}
@media  (max-width:580px) {
    .Contact{
       left: 20px;
       font-size: 20px;
    }
    .Contact__title{
        font-size: 40px;
    }
    
}
/*Article-----------------------------------*/
.Article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Article__item{
    border: solid rgba(0,0,0,0.1) 1px;
    width: 47%;

}
.Article__img{
    /*width: 561px;*/
    /*height: 364px;*/
    width: 100%;
    max-height: auto;


}
.Article__header{
    padding-top: 115px;
    width: 100%;
    text-align: center;
}
.Article__box{
    display: flex;
    justify-content:space-between;
    width: 1200px;
    padding-top: 115px;
    text-align: center;
    flex-wrap: wrap;

}
.Article__submitbtn{
    background-color: transparent;
    color: var(--primary);
    margin: 0 auto;
}
@media  (max-width:800px) {
    .Article__item{
        width: 100%;
        margin-bottom: 10px;
    }
    
}
@media  (max-width:1200px) {

    
}
@media  (max-width:770px) {

    
}
@media  (max-width:580px) {
    
}
/*Adwantages-----------------------------------*/
.Advantages{
    max-width: 1200px;
    margin: 130px auto 0 auto;
}
.Advantages__item{
    margin-top: 90px;
position: relative;
max-width: 1200px;
height: 631px;
}
.Advantages__img{
        width: 758px;
    height: 532px;
    position: absolute;
    object-fit: cover;
}
.Advantages__box{
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 100px;
    padding: 50px;
    background-color: #000;
    color: var(--light);
    

}
.Advantages__item._left{
    margin-left: auto;
}
.Advantages__item._left .Advantages__img{
    right: 0;
}
._textbox{
    max-width: 389px;
}
.textbox-left{
    left: 100px;
    right: auto;
}
.Advantages__more._btn{
    padding: 10px 60px;
}
.Advantages__contact._btn{
   padding: 10px 60px;
   background-color: var(--indigo);
   color: var(--light);
   margin: 0 auto;
}
.Advantages__footer{
    text-align: center;
    margin-top: 90px;
}
.Quote{
    max-width: 765px;
    margin: 0 auto;
    padding: 90px 0 0 0;
    text-align: center;
}
@media  (max-width:1200px) {

}
@media  (max-width:990px) {
    .Advantages__header{
        text-align: center;
    }
    .Advantages__more{
        margin: 0 auto;
    }
  
}
@media  (max-width:580px) {
    .Advantages__box{
        left: 50px;
        right: auto;

    }
    .textbox-left{
        left: 50px;
        right: auto;
    }
    
}
/*ContactBottom-----------------------------------*/
.ContactBottom{
    padding: 90px 0;
    background-color: var(--indigo);
}
.ContactBottom__box{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ContactBottom__text{
    max-width: 800px;
    color: var(--light);
}
.ContactBottom__btn{
    padding: 10px 40px;
}
@media  (max-width:1215px) {
    .ContactBottom{
        padding: 90px 15px;
    }
    .ContactBottom__text{
        margin-right: 15px;
    }
}
@media  (max-width:570px) {
    .ContactBottom__box{
        flex-wrap: wrap;
        
    }
    .ContactBottom__text{
        margin: 0 auto 15px auto;
        text-align: center;
    }
    .ContactBottom__btn{
        margin: 0 auto;
    }
}
/*Footer-----------------------------------*/
.Footer{
padding: 90px 0;
background-color: var(--dark);
color: var(--gray);
}
.list__item{
    color: var(--light);
}
.Footer__list{
    min-width: 260px;
    margin: 15px 0 15px 15px;
}
.Footer__list:not(:last-child){
    margin-right:15px;
}
.list__item._mediaicons{
    display: flex;
}
.Footer__box{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.list__header{
    margin: 0;
    padding-bottom: 20px;
}
.media__iconimg{
    width: 18px;
    height: 15px;
    margin-right: 10px;
    object-fit: cover;
    filter: invert(1);
}
@media  (max-width:1100px) {
    .Footer__box{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media  (max-width:600px) {
    .Footer__list{
        padding: 0 auto;
    }
    .list__item{

    }
}